body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #05386B;
    background-color: #5CDB95;
    font-weight: bolder;
    font-stretch: extra-expanded;
    width: 50rem;
}
p{
    font-size: 1.2rem;
}
a{
    font-size: 1.1rem;
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;;
}
h6{
    font-size: 1rem;
    color: black;
}
ul{
    list-style: circle;
}